@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 255, 254, 252;
    --text: 55, 52, 47;
}

html,
body,
:root {
    height: 100%;
}

body {
    color: rgb(var(--text));
    background: rgb(var(--background));
    font-family: var(--opensans);
    
}